* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  outline: red 1px red;
}

.form-group input,
.form-group label,
.form-group textarea {
  margin-top: 1rem;
  display: block;
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  resize: none;
}

.form-group input:hover {
  background-color: #d6fcfd;
}

.cta {
  padding: 1rem 2rem;
  border: 1px solid #5ab6b9;
  margin: 1rem;
  font-size: 24px;
  text-decoration: none;
  color: #5ab6b9;
  border-radius: 20px;
}

.cta:hover {
  background-color: #5ab6b9;
  border-color: #f9f9f9;
  color: #f9f9f9;
}
